# Data Science Tools and Ecosystem

In [ ]:
In this notebook, data science tools and ecosystems are summarized.

__title:__ Some of the key takeaways from this course
__objectives:__
- List popular languages in data science
- list commonly used libraries in data science\
- list data science tools
- demonstrate arithmetic expressions in Python

## Author
Thom

Some of the popular languages that Data Scientist use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

| Data Science Tools |
|--------------------|
| R Studio           |
| MySQL              |
| Visual Studio Code |

### Below are a few example of evaluating arithmetic expressions in Python.

In [11]:
(3 * 4) + 5

# This is a simple arithmetic expression to multiply then add integers.

17

In [13]:
200 / 60

# This will convert 200 minutes to hours by dividing by 60

3.3333333333333335